
.todo-list {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
    background-color: #fff;
    border: 2px solid #000;
    margin-top:40px;
}

.todo-form {
    display: flex;
    flex-direction: column;
    
    margin-bottom: 5px;
}

.todo-input {
    flex: 1;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 5px;
    margin-right: 10px;
}

.todo-add-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    border: 2px solid #000;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    flex-shrink: 0;
}

.todo-table {
    width: 100%;
    
    border-collapse: collapse;
}

.todo-table th {
    padding: 10px;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #000;
	border-bottom: 2px solid #716561;
    background-color: #fff;
    
}


.todo-table td {
    padding: 10px;
    text-align: center;
    padding: 10px;
	font-size: 18px;
	width:10%;
	color: #000;
	border-top: 1px solid #000000;
}

.todo-item {
    display: table-row;
}

.todo-checkbox {
    margin-right: 10px;
}

.todo-title {
    flex: 1;
}

.todo-edit-button,
.todo-delete-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.todo-edit-button {
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    border: 1px solid #000;
    
}


.todo-delete-button {
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    border: 1px solid #000;
    
}

.todo-table th:first-child,
.todo-table td:first-child {
    width: 10%;
}

.todo-textarea {
    border-radius: 10px;
    resize: none;
    padding: 5px;
    overflow: hidden;
    box-sizing: border-box;
    height: 50px;
    min-height: 50px;
    width: 350px;
    margin-bottom: 15px;
    font-size:16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  }
  
.error-message {
    margin-top:5px;
    font-weight: bold;
    font-size:18px;

}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.todo-list h1 {
    font-size:35px;
    text-align: center;
    margin-bottom:30px;
}